kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: {{ inventory_hostname }}
port: 10250
readOnlyPort: 10255
cgroupDriver: cgroupfs
clusterDNS: ["{{ CLUSTER_DNS_SVC_IP }}"]
clusterDomain: {{ CLUSTER_DNS_DOMAIN }}
failSwapOn: false
authentication:
  anonymous:
    enabled: true
